<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs");%>
	<body>
		<main id="main-wrapper">
		   <h1>Login Below</h1>
		   <%-include("./partials/login-signup.ejs");%>
		</main>
	    <%-include("./partials/footer.ejs");%>
		<script src="../script.js" type="module"></script> 
	</body>
</html>
