<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs");%>
	<body>
		<main id="main-wrapper">
		   <%if(name) {%>
		   <h1 id="dashboard-hdr">Welcome, <%=name%>!</h1>
		   <%}%>
		   <section id="button-wrapper">
			  <a href="/" id="logout">Logout</a>
		   </section>
		</main>
	    <%-include("./partials/footer.ejs");%>
	   <script src="js/init.js" type="module"></script>
	</body>
</html>
