<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs");%>
	<body>
		<main id="main-wrapper">
		   <%if(name) {%>
		   <h1 id="dashboard-hdr">Welcome, <%=name%>!</h1>
		   <section id="logout-wrapper">
			  <form id="logout" action="/signout" method="POST">
				 <input type="hidden" />
				 <input type="submit" value="Logout" />
			  </form>
		   </section>
		   <%}%>
		</main>
	    <%-include("./partials/footer.ejs");%>
	   <script src="js/init.js" type="module"></script>
	</body>
</html>
