<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs");%>
	<body>
		<main id="main-wrapper">
		   <%if(first_name && last_name) {%>
		   <h1 id="dashboard-hdr">Welcome,&nbsp;<%=first_name%>&nbsp;<%=last_name%>!</h1>
		   <section id="logout-wrapper">
			  <form id="logout" action="/logout" method="POST">
				 <input type="hidden" />
				 <input type="submit" value="Logout" />
			  </form>
		   </section>
		   <%}%>
		</main>
	    <%-include("./partials/footer.ejs");%>
	</body>
</html>
