<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs");%>
	<body>
		<main id="main-wrapper">
		   <%-include("./partials/todos.ejs");%>
		   <%-include("./partials/back_btn.ejs");%>
		</main>
	    <%-include("./partials/footer.ejs");%>
	</body>
</html>
