<section id="todos-wrapper">
	 <table>
		<caption>Todos</caption>
		<tr>
		  <th>title</th>
		  <th>description</th>
		  <th>completed</th>
	   </tr>
	   <%todos.forEach(todo => {%>
	   <tr>
		 <td><%=todo.title%></th>
		 <td><%=todo.description%></th>
		 <td><%=todo.completed%></th>
	   </tr>
	   <%})%>
	</table>
</section>       
