@import 'todos', '../../utils/utils', '../login-signup_hdr', '../login-signup';

@mixin main-container($bg-color) {
   font-size: 2rem;
   background-color: $bg-color;

   @extend %flex;
   align-items: center;

   height: 100vh;

   h1 {
	   margin: 10%;
	   font-size: 1.75rem;
   }
   h3 {
	  margin: 5%;
   }
   h5 {
	  margin: 5%;
   }

   #signup-login {
	  width: 75%;
	  &-error-message {
		 border: 1px solid red;
		 background-color: lighten(red, 35%);
		 display: block;
		 font-size: 1.25rem;
		 text-align: center;
		 color: red;
		 font-style: italic;
		 margin-bottom: 10px;
		 padding: 5px;
	  }
	  &-hdr {
		 @extend %hdr;
	  }
	  #signup-form {
		 @include l-s(100%, $main-bg-color);
	  }
	  #login-form {
		 @include l-s(100%, $main-bg-color);
	  }
   }
   
   #todos-wrapper {
	  @extend %todos;
   }
   #button-wrapper {
	  margin: 20px;
   }

   section+#return_btn {
	  margin-top: 10%;
   }
   a {
	  color: dimgray;
	  &:link {
		  text-decoration: none;
		  color: inherit;
		  border: 1px solid black;
		  padding: 5px;
	  }
	  &:hover {
		  background-color: hsl(0, 0%, 15%);
	  }
   }

   #logout {
	  margin-top: 20vh;
	  color: dimgray;
	  text-decoration: none;
	  border: 1px solid black;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;

	  input {
		 cursor: pointer;
		 font-size: 1.75rem;
		 padding: 10px;
		 outline: none;
		 border: none;
		 width: 100%;
		 height: 100%;

		 &:hover {
			background-color: hsl(0, 0%, 15%);
		 }
	  }
   }
}
